<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCShdgEOqMoZSmkAAzZYtQ2ANEfi8e7khU</string>
	<key>GCM_SENDER_ID</key>
	<string>972816679519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diwizon.sudarshanCreations</string>
	<key>PROJECT_ID</key>
	<string>sudarshan-creations-c8748</string>
	<key>STORAGE_BUCKET</key>
	<string>sudarshan-creations-c8748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972816679519:ios:dd20461e56baef4f6d11ea</string>
</dict>
</plist>